#box1 {
    text-align:center;
    font-size: 40px;
}

#speedText {
    color:white;
}
#headDiv{
    height: 2%;
}

#widthBox{
    text-align:center;
    color:black;
    width:40%;
        
}

#dropWidth{
       text-align:center;
    color:black;
    width:100px;
}

#dropHeight{
    text-align:center;
    color:black;
    width:100px;
}

.speedValues{
    display: flex;
    justify-content: center;
    text-align:left;

}

#boxHeight{
    text-align:center;
    color:black;
    width:40%;
}

body {  
    background-color:#232323;
    color:white;
}



#startButton{
    height:40px;
    width:40px;
}


#dataBaseDiv{
    margin-top:5%;
}

#bigPlay{
     height:50px;
    width:50px;
     margin-top:5px;
}


#pauseButton{
    height:40px;
    width:40px;
}

.cell {  
    background-color:white;
    float: left;
    color:black;
    outline:1px solid black;
    cursor: pointer; 
 
}

#mainDiv{
    display:flex;

    margin-left:2%;
    margin-right: 2%;
    margin-bottom: 2%;
}

.theGame{   
    width: 90%;
    overflow: hidden;
    background-color: :white;
}

#dropDownMenu{
    text-align:center;
    display:none;
    color:black;
    border-left: solid;
    border-right:solid;
    border-bottom:solid;
    background-color: white;
    position:absolute;
    width:200px;
    top:37px;
    right:14px;
    padding-top:10px;
}

#dropButtom{
    display:none;

    width:23px;
}


#playHead{
    display:none;
    width:25px;
    min-width:25px;
    min-height:25px;

}


.knapp{
    font-size: 16px;
    width: 100px;
    height:50px;
    color:black;
}

.knapp2{
    color:black;
    font-size:14px;
    width: 100px;
    height: 50px;
}

#panel1{   
    display: flex;
    justify-content: center;
    border-left: 1px solid;
    color:black;
    background-color: white;
    text-align:center;

}
#insidePanel{
    margin: 5%;
}

@media screen and (max-width: 800px) , (max-height: 500px){

    .theGame{
        width: 100%;
    }

    #panel1{
        display: none;
    }

    h1{
    margin-left:2%;
    font-size: 1px;
    text-align: left;
    }
    #dropButtom{
        display: block;
        float: right;
    }
    #playHead{
        display: block;
        float: left;
        margin-right: 50px;
    }

    #headDiv{
        margin-right: 2%;
        margin-left: 2%;
        height: 30px;

    
    }
    #box1{
        font-size: 18px;
        float: left;
 
    }
    #headButtoms{
 
        float: right;
        margin-left:100px;

    }


}